<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">
      <mat-form-field>

        <input matInput ngModel type="email" name="email"
               placeholder="Email" required minlength="3"
               [ngModelOptions]="{ updateOn: 'submit'}"
               (ngModelChange)="emailChanged($event)"
               email #email="ngModel">
        <mat-error *ngIf="email.errors?.required">The email is mandatory</mat-error>
        <mat-error *ngIf="email.errors?.minlength">Email entered actual length is {{email.errors?.minlength.actualLength}} it should be {{email.errors?.minlength.requiredLength}}</mat-error>
        <mat-error *ngIf="email.errors?.email">Invalid email</mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput ngModel type="password" name="password" placeholder="Password"
                   #password="ngModel" required>
        <mat-error *ngIf="password.errors?.required">The password is mandatory</mat-error>

      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Login
      </button>

    </form>

  </mat-card-content>
</mat-card>
